*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  padding:20px 0;
  text-align:center;
}

.nav-list{
  text-align:center;
  padding:15px 0;
  margin:0 auto;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}  

.nav-list-item{
  list-style:none;
  display:inline-block;
  margin:0 20px;
}
  
  .line1{
    display:flex;
    justify-content:center;
    margin-top:50px;
  }
  
.block1{
  width:200px;
  height:200px;
  background-color:red;
}

.block2{
  width:200px;
  height:200px;
  background-color:orange;
}
.block3{
  width:200px;
  height:200px;
  background-color:yellow;
}

.block4{
  width:200px;
  height:200px;
  background-color:green;
}

.line2{
  display:flex;
  justify-content:center;
}

.block5{
  width:200px;
  height:200px;
  background-color:green;
}

.block6{
  width:200px;
  height:200px;
  background-color:yellow;
}

.block7{
  width:200px;
  height:200px;
  background-color:orange;
}
  
.block8{
  width:200px;
  height:200px;
  background-color:red;
}

.line3{
  display:flex;
  justify-content:center;
  margin-bottom:50px;
}

.block9{
  width:200px;
  height:200px;
  background-color:red;
}

.block10{
  width:200px;
  height:200px;
  background-color:orange;
}

.block11{
  width:200px;
  height:200px;
  background-color:yellow;
}

.block12{
  width:200px;
  height:200px;
  background-color:green;
}

footer{
  width:100%;
  height:120px;
  text-align:center;
  line-height:120px;
  background-color:grey;
}

.footer-text{
  color:white;
}